{% extends 'base.html' %} {% set active_page = 'main_menu' %} {% block content
%}
<div class="container mt-3 mb-3">
  <div class="row my-5 card-wrapper">
    {% for app in apps %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100 bg-light rounded shadow">
          <div class="card-body">
            <h4 class="card-title">
              {% if 'url' in app %}
                <a href="{{app['url']}}">
                <i class="fas fa-rocket"></i> </a>
              {% endif %}
              {{ app['name'] }} 
              {% if app['is_new'] %}
              <span class="badge badge-success">New</span>
              {% endif %}
            </h4>
            <p class="card-text ">{{ app['description'] }}</p>
            <a href="#more-{{ app['id'] }}" data-toggle="collapse">More</a>
              <div id="more-{{ app['id'] }}" class="collapse">
                <dl>
                <li>Language: {{ app['language'] }}</li>
                <li>Status: {{ app['status'] }}</li>
                {% if 'data-source' in app%}
                  <li>Data-source:<a href="{{ app['data-source'] }}"> {{ app['data-source-text'] }}</a></li>
                {% endif %}
                <li><a href="{{ app['git'] }}">GitHub repo</a></li>
              </dl>
              </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
